<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.hanashiconlang.org/Hanashi"
			class = "org.hanashiconlang.hanashi.HanashiPackage"
			genModel = "model/generated/Hanashi.genmodel" />
	</extension>
</plugin>
